<!--prettier-ignore-->
{% extends 'layouts/blank.html' %}

{% load crispy_forms_tags %}
{% block css %}

<style>
  #div_id_image {
    display: none;
  }
</style>
{% endblock %}

<!--prettier-ignore-->
{% block content %}

<div
  class="max-w-xl mx-auto pt-16 px-4"
  x-data="{
    avatarUrl: '{{ user.profile.avatar_url }}',
    displayName: '{{ user.profile.name|default:'' }}',
    openFilePicker(){
        this.$refs.avatarInput.click();
    },
    previewAvatar(event) {
      const file = event.target.files[0]
      if (file && file.type.includes('image')) {
        this.avatarUrl = URL.createObjectURL(file)
      }
    }
  }"
>
  <h1 class="mb-8 text-center">Edit your Profile</h1>

  <!-- Profile Preview -->
  <div class="flex flex-col items-center text-center mb-10">
    <div class="relative mb-4">
      <img
        :src="avatarUrl"
        class="w-36 h-36 rounded-full object-cover border-4 border-primary bg-neutral"
      />
      <div
        @click="openFilePicker"
        class="absolute bottom-0 -right-0 cursor-pointer bg-primary text-white border rounded-lg p-2"
      >
        <i class="bi bi-pen"></i>
      </div>
    </div>

    <div class="max-w-md">
      <h1 x-text="displayName" class="mb-1"></h1>
      <div class="text-muted font-medium -mt-2">@{{ user.username }}</div>
    </div>
  </div>

  <!-- Form -->
  <form method="POST" enctype="multipart/form-data" class="space-y-6">
    {% crispy form %}
  </form>
</div>

{% endblock %}
